<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Alt-Pages</title>
    <link rel="stylesheet" href="/stylesheets/profile.css"/>
  </head>
  <body>
    <div class="profile-container">
    <div class="profilecontent">
      <div class="profilepic"><img class="responsive-img" src="/images/cartman.png"/></div>
      <h1 class='name-profile'>Anshu Saurabh</h1>
      <h2 class='bio-profile'>
        Thinker, Programmer, Gamer, Travel enthusiast.</h2>
      <div class="button-container">
        <button id=PhotoCount>
          102
          <h4 class='profile-heading'>Articles</h4>
        </button>
        <button id=Followers>
          15K
          <h4 class='profile-heading'>Followers</h4>
        </button>
        <button id=Following>
          574
          <h4 class='profile-heading'>Following</h4>
        </button>
      </div>
    </div>
    <div class=contentcontainer>
      
      <h3 id=Photos_title>Articles</h3>
      <div class=photos>
        <div class='profile-article-elem'></div>
        <div class='profile-article-elem'></div>
        <div class='profile-article-elem'></div>
        <div class='profile-article-elem'></div>
        <div class='profile-article-elem'></div>
        <div class='profile-article-elem'></div>
        <div class='profile-article-elem'></div>
        <div class='profile-article-elem'></div>
        <div class='profile-article-elem'></div>
        
  </div>
    </div>
  </div>
  </body>
  </html>