.edit-profile-wrapper{
  width: 1200px;
  margin: 0 auto;
}

.edit-profile-content{
  min-height: 600px;
  display: flex;
  /* grid-gap: 2rem; */
  /* grid-template-columns: 1fr, 1fr; */
}
.edit-profile-internal {
  display: grid;
  grid-template-columns: 2fr 3fr;
  margin: 1rem 4rem;
}